.ProposList {
  width: 100%;
  overflow-x: scroll;
  display: flex;

  .propo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 0.5rem;
    min-width: 100px;
    max-width: 120px;
    text-align: center;
    border: 1.5px solid rgba(128, 128, 128, 0.473);
    border-radius: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: gray;
    margin-right: 0.5rem;
  }
  .propo:hover {
    background-color: rgba(216, 216, 216, 0.637);
    cursor: pointer;
  }
}

.ProposList::-webkit-scrollbar {
  width: 0;
}
